* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg: #040D1F;
    --orange: #F18128;
    --lightOrange: #ED8E00;
    --white: #fff;
    --gray: #C8C8C8;
    --black: #000000;
    --CB: 'CB', sans-serif;
    --CR: 'CR', sans-serif;
    --MB: 'MB', sans-serif;
    --MR: 'MR', sans-serif;
    --RR: 'RR', sans-serif;
    --RM: 'RM', sans-serif;
}

body {
    background: var(--bg);
    color: var(--white);
    font-family: var(--CR);
}

.container {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    outline: none;
    border: none;
    background: var(--orange);
    color: var(--black);
    font-family: var(--RM);
    font-size: 14px;
    font-weight: 500;
    padding: 18px 48px;
    transition: 0.3s all linear;
    border-radius: 4px;
}

.btn:hover{
    background: var(--bg);
    color: var(--white);
}