.header__top {
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 20px 15px;
    align-items: center;
}

.header__top-text {
    font-family: var(--CR);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    max-width: 168px;
    width: 100%;
}

.header__top-icon {
    font-size: 50px;
    color: #fff;
}

.header__nav__logo__img {
    width: 104px;
    height: 42px;
}

.header__nav {
    background: #010305CC;
    padding: 30px 0;
}

.header__nav__logo__text {
    font-family: var(--CB);
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav__list-link {
    font-family: var(--MR);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #fff;
    transition: 0.3s all linear;
    padding: 42px 15px;
    position: relative;
}

.header__nav__list-link:hover{
    color: var(--lightOrange);
}

.header__nav__list-link::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 20px 20px 0 0;
    background: var(--lightOrange);
    transition: 0.3s all linear;
}

.header__nav__list-link:hover::after{
    width: 100%;
}

.header__nav__list{
    display: flex;
    align-items: center;
}

.header__nav__logo{
    display: flex;
    align-items: flex-end;
    gap: 6px;
}